main {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;

    padding-left: 1%;
    padding-right: 1%;
}

.personalIntroduction {
    position: relative;
  width: 800px; /* 调整容器的大小 */
  height: 800px; /* 调整容器的大小 */
  border: 2px solid #ccc; /* 添加浅浅的线 */
  border-radius: 50%; /* 将容器设置为正圆形 */
  overflow: hidden; /* 隐藏超出容器的部分 */
}

/* 通用样式，使图片变成圆形 */
.personalIntroduction .teamMember .pototDiv img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
}

/* 初始状态下隐藏 responsibility */
.personalIntroduction .teamMember .responsibility {
    display: none;
}

/* 环形布局 */
.personalIntroduction {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

/* 页面过于小时，垂直排列 */
@media screen and (max-width: 600px) {
    .personalIntroduction {
      flex-direction: column;
    }
}

/* 鼠标悬停时放大图片 */
.personalIntroduction .teamMember:hover .pototDiv img {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
  
/* 鼠标悬停时显示 responsibility */
.personalIntroduction .teamMember:hover .responsibility {
    display: block;
    text-align: center;
}

