.page {
  background-color: white;
}

nav {
  list-style-type: none;
  display: flex;
  /* position: absolute; */
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
  border-bottom: solid 2px;
  padding-bottom: 0;
}

.logoDiv {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
}

.logo {
  height: 80px;
}

.pagenavigation {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 0px;
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 20px;
  padding:0;

  width: 100%;
}

.page__name {
  font-size: 30px;
  font-weight: 500;
  margin: 10px;
}

.Name {
  color: black;
  text-decoration: none;
}